<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
        <a class="navbar-brand" routerLink="/home">
            <img
                    src="https://pbs.twimg.com/profile_images/575744577929244673/oefTn0l5_400x400.png"
                    width="30"
                    height="30"
                    class="d-inline-block align-top"
            />
            SocRaTes FRance 2020
        </a>
    </nav>

    <router-outlet></router-outlet>
</div>