<div class="row p-4">
    <div class="col-md-12 center-block text-center">
        <h1>SoCraTes FRance 2020</h1>
        <h2>
            May 20-23th, 2020. <br/>
            International Conference for Software Craft and Testing.
        </h2>
        <hr/>
        <button type="button" class="btn btn-dark btn-lg" routerLink="/register">Register</button>
    </div>
</div>