<h2>Hello {{firstName}} {{lastName}}</h2>
Please choose your will for the Thursday noon meal:
<form class="col-lg-6 offset-lg-3">
    Starters
    <div class="form-group row">
        <label for="starter" class="col-sm-3 col-form-label text-right">Starter *</label>
        <div class="col-sm-9">
            <select id="starter" class="form-control form-check-inline">
                <option selected>Choose...</option>
                <option>Poelée de champignon du moment</option>
            </select>
        </div>
    </div>
    Meal
    <div class="form-group row">
        <label for="plat" class="col-sm-3 col-form-label text-right">Meal *</label>
        <div class="col-sm-9">
            <select id="plat" class="form-control form-check-inline">
                <option selected>Choose...</option>
                <option>Baron d'agneau rôti et son caviar d'aubergine</option>
                <option>Cabillaud et sa mousseline de broccolis</option>
            </select>
        </div>
    </div>
    Dessert
    <div class="form-group row">
        <label for="dessert" class="col-sm-3 col-form-label text-right">Dessert *</label>
        <div class="col-sm-9">
            <select id="dessert" class="form-control form-check-inline">
                <option selected>Choose...</option>
                <option>Royal chocolat praliné croustillant</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-dark text-center">Submit</button>
        </div>
    </div>
</form>