<div class="container">
    <div class="row p-5">
        <form class="col-lg-6 offset-lg-3" [formGroup]="form">
            <div class="form-group row">
                <label for="inputFirstname" class="col-sm-3 col-form-label text-right">First name *</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="firstName" class="form-control" id="inputFirstname"
                        placeholder="Fabien">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputLastname" class="col-sm-3 col-form-label text-right">Last name *</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="lastName" class="form-control" id="inputLastname"
                        placeholder="Labrousse">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputMail" class="col-sm-3 col-form-label text-right">Mail *</label>
                <div class="col-sm-9">
                    <input type="email" formControlName="email" class="form-control" id="inputMail"
                        placeholder="name@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">Gender *</label>
                <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" formControlName="gender" type="radio" name="gender"
                            id="inlineRadio1" value="woman">
                        <label class="form-check-label" for="inlineRadio1">Woman</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" formControlName="gender" type="radio" name="gender"
                            id="inlineRadio2" value="man">
                        <label class="form-check-label" for="inlineRadio2">Man</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-right">State of residence *</label>
                <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" formControlName="country" type="radio" name="country"
                            id="france" value="france">
                        <label class="form-check-label" for="france">France</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" formControlName="country" type="radio" name="country" id="other"
                            value="other">
                        <label class="form-check-label" for="other">Other</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAccommodation" class="col-sm-3 col-form-label text-right">Accommodation *</label>
                <div class="col-sm-9">
                    <select id="inputAccommodation" class="form-control form-check-inline">
                        <option selected>Choose...</option>
                        <option>Single</option>
                        <option>Double</option>
                        <option>Triple</option>
                        <option>External</option>
                    </select>
                    </div>
            </div>
            <div class="form-group row">
                <label for="inputState" class="col-sm-3 col-form-label text-right">Diet *</label>
                <div class="col-sm-9">
                <select id="inputState" class="form-control form-check-inline">
                    <option selected>Choose...</option>
                    <option>Pescetarien</option>
                    <option>Omnivorious</option>
                    <option>Vegetarian</option>
                    <option>Vegan</option>
                </select>
                </div>
            </div>
            <small>* fields are required</small>
            <div class="row">
                <div class="col text-center">
                    <button [disabled]="form.invalid" (click)="submitForm()" type="submit"
                        class="btn btn-dark text-center">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>